.TBSongsContainer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f58888;
  height: 63rem;
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.TBrow1 {
  height: 380px;
  width: 800px;
}

.TBrow2 {
  height: 380px;
  width: 800px;
}

@media (max-width: 992px) {
  .TBrow1 {
    height: 400px;
    width: 700px;
  }

  .TBrow2 {
    height: 400px;
    width: 700px;
  }
}

@media (max-width: 768px) {
  .TBrow1 {
    height: 400px;
    width: 90%;
  }

  .TBrow2 {
    height: 400px;
    width: 90%;
  }
}